header {
	padding: 150px 0 200px;
	width: 62%;
}

.current-day-container {
	height: 300px;

}

.heading-container h1 {
	font-size: 3rem;
	margin-bottom: 50px;
	font-family: $secondary-font;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 3px solid $tertiary-color;
}

.heading-container h2 {
	font-size: 2rem;
	color: $primary-color;
	margin-bottom: 50px;
}

.current-day-container-stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 2rem;
	padding: 40px;
	background: $card-background-color;
	border-radius: 5px;
	
	h2:first-child {
		margin-bottom: 50px;
	}
	h3:first-child {
		margin-bottom: 50px;
	}
}

.current-day-container-stats h2 {
	color: $secondary-color;
}

.current-day-container-stats h3 {
	width: 250px;
}

.sol-date-container {
	border-right: 3px solid $secondary-color;
	padding-right: 9%;
}


header p {
	margin-top: 10px;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	button {
		font-size: 1.5rem;
		font-family: $secondary-font;
		font-weight: 600;
		background-color: inherit;
		color: $primary-color;
		border: 3px solid $tertiary-color;
		border-radius: 5px;
		padding: 10px;
		margin-top: 40px;
		transition: background-color .35s, color .35s;
		&:hover,
		&:focus {
			background-color: $primary-color;
			color: $secondary-color;
		}
	}
}

.header-image-container {
	width: 100%;
	height: 400px;
	margin-top: 50px;
	border-radius: 5px;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	figcaption {
		background-color: $card-background-color;
		font-size: 1rem;
		line-height: 1.4rem;
		margin-top: 40px;
		color: $secondary-color;
		width: 100%;
		padding: 40px;
		border-radius: 5px;
	}
}

.header-image-container figcaption a {
		border-bottom: 2px solid $tertiary-color;
		@include text-shadow();
		font-weight: 700;
		transition: color .35s;
		&:hover,
		&:focus {
			color: $secondary-color;
		}
}