header {
  padding: 150px 0px 50px;
	width: 50%;

	.wrapper {
		background: $entry-background;
		border-radius: 20px;
	}
}

h1 {
	font-size: 5rem;
}

.current-day {
	
	font-size: 2.5rem;
	margin-top: 100px;


	.today {

		div:first-child {
			padding-right: 10%;
		}

		h2:first-child,
		h3:first-child {
			margin-bottom: 40px;
		}
	}
}

