@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
	}

	header {
		width: 100%;
		
		.heading-container h1,
		.heading-container h2 {
			text-align: center;
		}
	}

	main {
		width: 100%;
		// display: flex;
		// flex-flow: row wrap;

		.weekly-weather-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.weekly-container-stats {
				width: 47%;
			}
		}
		
	}

	footer {
		flex-direction: column;
		text-align: center;
		padding: 5%;
		
		.nasa,
		.contact {
			width: 100%;
		}
		.nasa{
			margin-bottom: 40px;
		}
	}
}