a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #f4f4f4;
  background-image: repeating-linear-gradient(80deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), repeating-linear-gradient(228deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), repeating-linear-gradient(127deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), -webkit-gradient(linear, left top, right top, from(#888888), to(#5c5c5c));
  background-image: repeating-linear-gradient(80deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), repeating-linear-gradient(228deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), repeating-linear-gradient(127deg, #121212 0px, #121212 10px, transparent 10px, transparent 12px), linear-gradient(90deg, #888888, #5c5c5c);
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

h2, h3 {
  color: #121212;
}

p {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

figure {
  margin: 0;
}

button {
  color: #121212;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

i {
  margin-right: 5px;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
}

.apod-container {
  background: whitesmoke;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.apod-container .exit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.apod-container .exit-container .exit {
  font-size: 4rem;
}

.apod-container h3 {
  font-size: 2.3rem;
}

.image-container {
  margin: 20px auto;
  width: 400px;
  height: 400px;
}

.image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  padding: 150px 0 200px;
}

.heading-container h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 3px solid #fa9572;
}

.heading-container h2 {
  font-size: 2rem;
  color: #f4f4f4;
  margin-bottom: 50px;
}

.current-day-container-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  font-size: 2rem;
  padding: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.current-day-container-stats h2:first-child {
  margin-bottom: 50px;
}

.current-day-container-stats h3:first-child {
  margin-bottom: 50px;
}

.current-day-container-stats h2 {
  color: #121212;
}

.current-day-container-stats h3 {
  width: 250px;
}

.sol-date-container {
  border-right: 3px solid #121212;
  padding-right: 50px;
}

header p {
  margin-top: 10px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.button-container button {
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  background-color: inherit;
  color: #f4f4f4;
  border: 3px solid #fa9572;
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  -webkit-transition: background-color .35s, color .35s;
  transition: background-color .35s, color .35s;
}

.button-container button:hover, .button-container button:focus {
  background-color: #f4f4f4;
  color: #121212;
}

.header-image-container {
  width: 600px;
  height: 400px;
  margin-top: 50px;
  border-radius: 5px;
}

.header-image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.header-image-container figcaption {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 40px;
  color: #121212;
  width: 600px;
  padding: 40px;
  border-radius: 5px;
}

.header-image-container figcaption a {
  border-bottom: 2px solid #fa9572;
  color: #f4f4f4;
  font-weight: 700;
  -webkit-transition: color .35s;
  transition: color .35s;
}

.header-image-container figcaption a:hover, .header-image-container figcaption a:focus {
  color: #121212;
}

.weekly-weather-container .weekly-container-stats {
  font-size: 1.2rem;
  width: 420px;
  margin-bottom: 20px;
}

.weekly-weather-container .weekly-container-stats .temp-container h3 {
  width: 155px;
}

.weekly-container-stats:first-child {
  margin-top: 0;
}

.weekly-container-stats:last-child {
  margin-bottom: 0;
}

footer {
  margin-top: 100px;
  padding: 50px;
  width: 100%;
  border-top: 8px solid #fa9572;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  border-bottom: 2px solid #fa9572;
}

footer a:hover, footer a:focus {
  color: #fa9572;
  border-bottom: 2px solid #f4f4f4;
}

.nasa {
  font-size: 1.5rem;
  width: 60%;
  line-height: 2rem;
}

.contact {
  font-size: 1.2rem;
}

.contact li {
  margin: 20px 0px;
}

.contact i {
  color: #fa9572;
}
